# backups
*~

# build artefacts
_*
*.o
*.out
*.d
*.asm
*.sym
*.img
*.a
*.elf
*.tar

kernel/kernel
qemu-script
.gdbinit
result
target/
.direnv
.idea/
.rustup

# cmake
/build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
.cmake/
Testing/
cmake-build-debug/
