# backups
*~

# build artefacts
_*
*.o
*.out
*.d
*.asm
*.sym
*.img
*.a
*.elf

kernel/kernel
.gdbinit
/result
/.direnv
/.idea
.gitignore

# cmake
/build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
.cmake/
Testing/
cmake-build-debug/
